.post{
    display:grid;
    grid-auto-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height:max-content;
    row-gap: 2vh;
    background-color:#0015ff0c;
    border:1px solid rgba(255, 68, 0, 0.4);
    margin-bottom:5vh;
}   


.postContainer{
    grid-row:1;
    grid-column:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:center;
    justify-content:center;
    height: max-content;
    max-height:100%;
    width: 100%;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
}

.postH3{
    order:1;
    width:100%;
    min-height:min-content;
    height:fit-content;
    text-align:center;
    align-self:start;
    font-size: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: rgba(255, 68, 0, 0.7);
    margin-bottom:1.5vh;
}
.imgContainer{
    order:2;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items:center;
}
.postImg, .postVid{
    height: fit-content;
    max-height:77vh;
    min-height:3vh;
    max-width:54vw;
    margin-bottom:1vh;
}
.postVid{
    width: fit-content;
  }
.postInfo{
    order:3;
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.postAuthor{
    height:100%;
    position:relative;
    width:fit-content;
    font-size:1.8rem;
    color:rgba(255, 68, 0, 0.7);
    margin-right:1vw;
}
.voteDiv{
    position:relative;
    bottom:calc(1vh - 1px);
    right:0px;
    display:flex;
    flex-direction: row;
    height: max-content;
    width:fit-content;
    border-right:none;
    filter:brightness(120%);
    align-items: flex-start;
}
.ups{
    width:100%;
    height:3vh;
    font-size:2rem;
    align-content:center;
    font-weight:bold;   
    text-align:center;
    color:rgba(255, 68, 0, 0.7);
    margin-left:0.5vw;
    margin-right:0.5vw;
    pointer-events:none;    
}

.voteButton{
    width:3vh;
    height:3vh;
    border-radius:50%;
    background-color: rgba(255, 68, 0, 0.7);
    border:1px solid var(--blingbling);
}
.voteButton:hover{
    background-color:#212430;
    
}
.voteButton:hover > :first-child{
    color: rgba(255, 68, 0, 0.7);;
    
}
.selfText{
    width: 100%;
    max-width:100%;
    word-break:break-all;
    height: fit-content;
    font-size: 2.2rem;
    text-align:start;
    color:rgba(195, 231, 253, 0.724);
    padding-bottom:2vh;
}
.HR{
    order:3;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 68, 0, 0.7);
    color: rgba(255, 68, 0, 0.7);
    box-shadow:0px 0px 0px 0.5px 3px var(--blingbling);
    border: 1px solid rgb(164, 217, 249, 50%);
    border-radius:50%;
    margin:0px;
}
.commentsContainer{
    order:4;
    display:grid;
    grid-template-rows:min-content 1fr;
    grid-template-columns:100%;
    width: 100%;
    max-width:100%;
    height: fit-content;
    align-items: center;
    justify-items:center;
    justify-content:center;
    align-content:start;
    position:relative;
    bottom:-1vh;
}


.openCommentsContainer{
    grid-row:1;
    grid-column:1;
    display:flex;
    height:5vh;
    max-height:5vh;
    width:100%;
    align-items: center;
    justify-items:center;
    justify-content:center;
    align-content:center;
}

.openComments{
    width: 15vw;
    height: 5vh;
    font-size: 2.2rem;
    text-align:center;
    color: rgba(255, 68, 0, 0.7);;
    justify-self:center;
    background-color:#ffffff05;
    border:1px solid rgba(255, 68, 0, 0.7);
    margin-bottom:1vh;
    margin-left:1vw;
}
.openComments:first-of-type{
    margin-left:0vw;
}
.openCommentsContainer:hover{
    filter:brightness(120%)
}
.commentList{
    grid-row:2;
    grid-column:1;
    width:100%;
    height:fit-content;
    display:grid;
    grid-auto-rows:max-content;
    grid-template-columns: 100%;
    padding:0vh 1vw 0vh 1vw;
}
.commentContainer{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 6fr 0.7fr;
    width: 100%;
    height:fit-content;
    min-height:10vh;
    border-bottom:1px solid rgba(255, 68, 0, 0.7);
    padding-bottom:1vh;
    padding-top:1vh;
    align-items: center;
    justify-items:center;
    justify-content:center;
    align-content:center;
}
  
.commentSpan{
    height:fit-content;
    grid-column:1;
    width:max-content;
    font-size:1.8rem;
    color:rgba(255, 68, 0, 0.7);
    text-align:left;
    align-content:center;
}
.comment{
    position:relative;
    grid-row:1/3;
    grid-column:2;
    font-size:2.2rem;
    text-align:start;
    word-wrap: break-word;
    width:90%;
    max-width:35vw;
    max-height:fit-content;
    color:rgba(195, 231, 253, 0.724);
}
.comment > a{
    word-wrap:break-word;
}

.commentVoteDiv{
    grid-row:1/3;
    grid-column:3;
    width:fit-content;
    height:fit-content;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items:center;
    justify-content:center;
    align-content:center;
    align-self:center;
    position:relative;

}